doctype html
html(lang='en')
  head
    title Contact
    meta(meta='viewport', content='width=devide-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(href='css/bootstrap-3.3.7-dist/css/bootstrap.min.css', media='all', rel='stylesheet')
    link(rel='stylesheet', href='css/estilos.css')
    script(src='css/bootstrap-3.3.7-dist/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='js/envio.js')
    
html
  body(background='')
    form(action='./contact' method='post')
      .container
        header.row.text-center
          h3 Práctica 3
          h5(style='color:black') Carlos Biurrun e Iñigo Olcoz
        .row.text-center.fondoDiv
          .col-md-2.col-sm-2.col-xs-hidden
          .col-md-4.menuPortada.col-sm-4.col-xs-2
            ul
              li
                a(href='.') Home
              li
                a(href='./about') About
              li
                a(href='./products') Products
              li
                a(href='./contact') Contact
          .col-md-6.col-sm-6.col-xs-6
            .row#envio(style="display: #{display}")
              p Gracias por su mensaje. Se han recibido sus datos.
              ul.list-unstyled
                li Nombre: #{nombre}
                li Apellidos: #{apellidos}
                li Asunto: #{asunto}
                li Email: #{email}
                li Mensaje: #{mensaje}

            .row
            // Nombre,asunto,email y mensaje
            fieldset
              legend
                | Contact
              table
                tr
                  td(width="50%")
                    label Nombre
                  td
                    input(name='nombre', type='text')
                tr
                  td(width="50%")
                    label Apellidos
                  td
                    input(name='apellidos', type='text')
                tr
                  td(width="50%")
                    label Asunto
                  td
                    input(name='asunto', type='text')
                tr
                  td(width="50%")
                    label Email 
                  td
                    input(name='email', type='text')
                tr
                  td(width="50%")
                    label Mensaje
                  td
                    textarea(name='mensaje', type='textarea', rows='5')
                tr
                  td
                    br
                tfoot
                  td(colspan="2")
                    input#campo5(name='enviar', type='submit', value='Enviar')

